@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

#main-canvas {
  /* background-color: black; */
}

#yfilter {
  /* background-color: black; */
}

#main_svg {
  padding: 10px 0px;
}

#trivia,
#trivia-sec {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

.ant-input.my-input {
  width: 400px;
  float: right;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: black;
  border-color: white;
  color: white;
  margin-top: 20px;
}

.ant-input.my-input:hover {
  border-color: white;
  border-width: 1.5px;
}

.ant-input.my-input:focus {
  border-color: white;
  border-width: 1.5px;
}

.ant-radio-group.my-btn-group {
  padding: 10px;
}

.ant-radio-button-wrapper.my-btn {
  width: 250px;
  float: left;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: black;
  color: white;
  border-color: white;
}

.ant-radio-button-wrapper.my-btn:hover,
.ant-radio.button-wrapper.my-btn:focus {
  color: black;
  background-color: white;
  border-color: white;
}

.ant-radio-button-wrapper.my-btn1:hover,
.ant-radio-button-wrapper.my-btn1:focus {
  color: black;
  background-color: white;
  border-color: white;
}

.ant-radio-button-wrapper.my-btn:hover,
.ant-radio-button-wrapper.my-btn:focus {
  border-color: white;
}

.ant-radio-button-wrapper-checked.my-btn:first-child {
  border-color: white;
  background-color: white;
  color: black;
}

.ant-radio-button-wrapper-checked.my-btn {
  box-shadow: none;
  background-color: white;
  color: black;
}

.ant-radio-group.my-btn-group.my-btn:first-child:not(:last-child) {
  border-right-color: white;
}

.ant-radio-group.my-btn-group.my-btn:first-child:not(:last-child):hover {
  border-right-color: black;
}

.ant-radio-group.my-btn-group.my-btn:last-child:not(:first-child) {
  border-left-color: white;
}

.ant-radio-group.my-btn-group.my-btn:last-child:not(:first-child):hover {
  border-left-color: black;
}

.ant-radio-group.my-btn-group.my-btn:not(:last-child):not(:first-child) {
  border-left-color: white;
  border-right-color: white;
}

.loading {
  margin: auto;
}
.loading .ant-spin-dot i {
  background-color: #eeeeee;
}

div.tooltip {
  color: white;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  text-align: center;
  width: 15vw;
  height: auto;
  padding: 10px;
  background: black;
  border: 2px solid white;
  pointer-events: none;
}

.ant-modal.my-modal {
  width: 50vw !important;
  height: auto;
}

.ant-modal.my-modal > .ant-modal-content {
  color: white !important;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  background: black !important;
  border-radius: 0px;
  border: 2px solid white;
}

.ant-modal.my-modal > .ant-modal-content > .ant-modal-header {
  color: white;
  /* font-size: 12px; */
  font-family: "Press Start 2P", cursive;
  background: black !important;
  border-radius: 0px;
  /* border-bottom: none; */
  /* border: 2px solid white; */
}

.ant-modal.my-modal
  > .ant-modal-content
  > .ant-modal-header
  > .ant-modal-title {
  color: white;
}

.ant-modal.my-modal > .ant-modal-content > .ant-modal-footer > .ant-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 1px;
}

.ant-modal.my-modal > .ant-modal-content > .ant-modal-close {
  display: none;
}

.my-modal-header-img {
  width: 40vw;
  height: auto;
}
