@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

#main-canvas {
  /* background-color: black; */
}

#yfilter {
  /* background-color: black; */
}

#timeline_svg {
  padding: 10px 0px;
}

.ant-input.my-input {
  width: 400px;
  float: right;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: black;
  border-color: white;
  color: white;
}

.ant-radio-group.my-btn-group {
  padding: 10px;
}

.ant-radio-button-wrapper.my-btn {
  width: 250px;
  float: left;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: black;
  color: white;
  border-color: white;
}

.ant-radio-button-wrapper.my-btn:hover,
.ant-radio.button-wrapper.my-btn:focus {
  color: black;
  background-color: white;
  border-color: white;
}

.ant-radio-button-wrapper.my-btn1:hover,
.ant-radio-button-wrapper.my-btn1:focus {
  color: black;
  background-color: white;
  border-color: white;
}

.ant-radio-button-wrapper.my-btn:hover,
.ant-radio-button-wrapper.my-btn:focus {
  border-color: white;
}

.ant-radio-button-wrapper-checked.my-btn:first-child {
  border-color: white;
  background-color: white;
  color: black;
}

.ant-radio-button-wrapper-checked.my-btn {
  box-shadow: none;
  background-color: white;
  color: black;
}

.ant-radio-group.my-btn-group.my-btn:first-child:not(:last-child) {
  border-right-color: white;
}

.ant-radio-group.my-btn-group.my-btn:first-child:not(:last-child):hover {
  border-right-color: black;
}

.ant-radio-group.my-btn-group.my-btn:last-child:not(:first-child) {
  border-left-color: white;
}

.ant-radio-group.my-btn-group.my-btn:last-child:not(:first-child):hover {
  border-left-color: black;
}

.ant-radio-group.my-btn-group.my-btn:not(:last-child):not(:first-child) {
  border-left-color: white;
  border-right-color: white;
}

.loading {
  margin: auto;
}
.loading .ant-spin-dot i {
  background-color: #eeeeee;
}
